#contactSection{

    color: white;
    padding: 50px;
}

#contactSection h1{
    text-align: center;
    margin-bottom: 100px;
}
.contact-form{
    display: flex;
    justify-content: center;
}
#contactSection form{
    text-align: center;
    margin-top: 50px;
    width: 60%;
}
.formGroup{
    margin-bottom: 20px;
}
.formGroup input, #messageBox{
padding: 10px;
background-color: rgba(0, 0, 0, 0.283);
border-radius: 8px;
border: 0;
color: white;
min-width: 300px;
resize: none;

}


.formSubmitButton{
    padding: 10px 20px;
    background-color: aquamarine;
    border: 0;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 300px;
}