#randomGenDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
}

#randomGenDiv button img{
    width: 50px;
    border-radius: 50%;
    filter: invert();
}

#randomGenDiv button{
    border-radius: 50%;
    padding: 0;
    display: flex;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#nameDiv{
    user-select: all;
}

#randomGenDiv input{
    background-color: transparent;
    color: white;
    border: 0;
    text-align: center;
    width: 80%;
}
#randomGenDiv input:focus{
    outline: none;
}
.copyButton{
    outline: 2px solid white;
    border-radius: 8px;
    cursor: copy;
    padding: 5px;
    transition-duration: 300ms;
    margin-top: 20px;
}
.copyButton:hover{
    background-color: rgba(255, 255, 255, 0.29)!important;
}

.randomGenContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px 0;
   background-color: rgba(255, 255, 255, 0.171);
   padding: 20px 0;
   border-radius: 8px;
}
